{% load static %}
    <section class="footer">
      <div class="nav-left">
        <a href="#">
          <img src="{% static '/images/logod.svg' %}" alt="" />
        </a>
      </div>
      <div class="footer-left">
        <ul>
          <li><a href="#">Charitable Organization</a></li>
          <li><a href="#">VEHBWAH MISSION OF MERCY FOUNDATION</a></li>
          <li><a href="#">Leader Nghainuh Henson</a></li>
          <li><a href="#">CEO Henson Audu Titus</a></li>
          <li><a href="#">USREOU code 44754634</a></li>
          <li><a href="#">Mailing address: Nigeria, Jalingo, Nukkai behind bridge nursery, house 16D</a></li>
        </ul>
      </div>
      <div class="footer-right">
        <a href="#">+234 7033413075</a>
        <span>vehbwahmission.vercel</span>
        <a href="#">&copy; dreamerwebdev</a>
      </div>
    </section>