{% load static %}

<div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="{% static '/images/img (1).jpg' %}" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="{% static '/images/img (2).jpg' %}" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="{% static '/images/img (3).jpg' %}" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="{% static '/images/img (4).jpg' %}" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="{% static '/images/img (5).jpg' %}" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="{% static '/images/img (6).jpg' %}" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="{% static '/images/img (7).jpg' %}" alt="" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>