* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Satoshi", sans-serif;
}
:root {
  --col: #fff;
  --col2: #000;
}

body {
  width: 100%;
  background: #f0f0f0;
}



.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.nav-left img {
  width: 200px;
}

.nav-right ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-right ul li {
  list-style: none;
  overflow: hidden;
}

.nav-right ul li a {
  text-decoration: none;
  color: black;
}

.nav-right li {
  text-decoration: none;
}

.nav-right ul li:nth-of-type(even):after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--col2);
  display: block;
  transform: translateX(-60px);
  transition: ease 0.5s 0.3s all;
}
.nav-right ul li:nth-of-type(odd):after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--col2);
  display: block;
  transform: translateX(60px);
  transition: ease 0.5s 0.3s all;
}

.nav-right li {
  list-style: none;
}

.nav-right li i {
  display: none;
  font-size: 20px;
}


.nav-right ul li:hover::after {
  transform: translateX(0);
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--col2);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  background: var(--col2);
  backdrop-filter: blur(40px);
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 2rem;
  width: 250px;
  gap: 2rem;
  justify-content: center;
  z-index: 999;
}

.sidebar li {
  list-style: none;
}

.sidebar li i {
  color: var(--col);
  font-size: 25px;
}

.sidebar li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--col);
}

@media (max-width: 720px) {
  .nav-right li i {
    display: block;
    font-size: 25px;
  }

  .nav-left a img {
    width: 120px;
  }

  .nav-right ul {
    display: none;
  }
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/images/poor.2e4da9613bcf.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__desc {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.hero__desc h2 {
  color: var(--col);
  font-size: 35px;
  font-weight: 800;
}

.hero__desc p {
  color: var(--col);
  font-size: 20px;
}

.hero__desc i {
  color: var(--col);
}

.hero__desc .btn {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--col2);
  background: var(--col);
  transition: all ease 0.3s;
}

.hero__desc .btn:hover {
  transform: scale(1.1);
}

@media (max-width: 614px) {
  .hero-right {
    max-width: 90%;
  }

  .hero__desc img {
    width: 230px;
  }

  .arrow i {
    font-size: 30px;
  }
}

@media (max-width: 890px) {
  .hero-left h2 {
    font-size: 25px;
    font-weight: 700;
  }

  .hero-left p {
    font-size: 15px;
  }

  .hero-inner {
    flex-direction: column;
  }

  .hero__desc {
    margin-top: 4rem;
  }
}

@media (max-width: 520px) {
  .hero-left h2 {
    font-size: 20px;
  }

  .hero-left p {
    font-size: 14px;
  }
}
.arrow {
  bottom: 0;
  margin-bottom: 5rem;
  text-decoration: none;
  animation: anime 1000ms linear infinite;
  i {
    font-size: 50px;
    color: var(--col);
  }
}

@keyframes anime {
  from {
    transform: translateY(18px);
  }
  to {
    transform: translateY(0);
  }
}

.hero2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3% 5%;
  width: 100%;
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.hero-left {
  max-width: 100%;
}

.hero-right {
  width: 100%;
  overflow: hidden;
  background-image: url("/static/images/children.75aece529428.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-radius ease 0.4s;
}

.hero-right:hover .pop {
  transform: translateY(50px);
}

.hero-right:hover {
  border-radius: 20px;
}

@media (max-width: 800px) {
  .top {
    flex-direction: column;
    height: fit-content;
  }

  .hero3 {
    height: max-content;
  }
}

.hero-left h2 {
  font-size: 40px;
}

.social {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social a {
  font-size: 30px;
  color: #000;
  transition: 0.3s ease all;
}

.social a:hover {
  opacity: 0.7;
  transform: translateY(-4px);
}

.pop {
  text-decoration: none;
  font-size: 20px;
  color: var(--col);
  padding: 1rem 2rem;
  background: var(--col2);
  transform: translateY(200px);
  transition: ease 400ms all;
}
.pop i {
  font-size: 20px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 38px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  z-index: 2;
}
.btn:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #d6e6f1;
  z-index: -1;
  transition: 0.8s;
}

.btn:before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn:hover::before {
  height: 180%;
}

.btn2 {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 15px 38px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  z-index: 2;
}
.btn2:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #cacaca;
  z-index: -1;
  transition: 0.8s;
}

.btn2:before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2:hover::before {
  height: 180%;
}

.hero3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: fit-content;
  padding: 2rem 5%;
  background: #000;
}

.top {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.topLeft h3 {
  font-size: 30px;
  color: #fff;
}

.topLeft {
  flex: 1;
}
.topLeft h2 {
  color: #fff;
  font-size: 30px;
}

.topLeft h2 img {
  margin-left: 25px;
  filter: grayscale(10px);
}

.topRight {
  flex: 1;
}
.topRight p {
  color: #fff;
}

.bottom {
  display: flex;
  max-width: 80%;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}

.text-right {
  flex: 1;
}

.text-right p {
  color: var(--col);
  font-weight: 600;
  font-size: 20px;
}

.text-right p span {
  font-size: 25px;
  display: inline;
}

.swiper {
  width: 100%;
  flex: 1;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.imgCard {
  width: 80px;
  height: 40px;
  border-radius: 10px;
}

@media (max-width: 1108px) {
  .bottom {
    max-width: 100%;
  }

  .text-right p {
    font-size: 16px;
  }

  .text-right p span {
    font-size: 25px;
  }
  .swiper {
    width: 100%;
    flex: 1;
  }
}

@media (max-width: 800px) {
  .bottom {
    width: 100%;
    flex-direction: column;
  }
  .top {
    height: fit-content;
  }
}

.hero4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

.hero4-left {
  width: 100%;
}

.hero4-right {
  p {
    font-size: calc(100% -70px);
  }
}

.hero4-right h3 {
  font-size: calc(100% - 40px);
  font-weight: 800;
}

@media (max-width: 1108px) {
  .hero4 {
    flex-wrap: wrap;
  }
  .hero4-left img {
    width: 100%;
  }
}

.gallery {
  background: #000;
  padding: 2rem 10%;
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  position: relative;
  background-attachment: fixed;
}

.gallery-inner {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 1rem;
  gap: 1.5rem;
}

.gallery-img {
  border-radius: 20px;
  overflow: hidden;
}

.gallery-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.5s ease all;
}

.gallery-img img:hover {
  transform: scale(1.1);
}

.gallery h1 {
  font-size: 40px;
  color: #fff;
}

@media (max-width: 1200px) {
  .gallery {
    background: #000;
    padding: 2rem 5%;
  }

  .gallery-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .gallery-img {
    border-radius: 20px;
    overflow: hidden;
  }

  .gallery-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 0.5s ease all;
  }

  .gallery-img img:hover {
    transform: scale(1.1);
  }

  .gallery h1 {
    font-size: 40px;
    color: #fff;
  }
}

@media (max-width: 900px) {
  .footer {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 10%;
}

.footer-left ul {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  li {
    list-style: none;
  }
}

.footer-left ul li a {
  text-decoration: none;
  color: #000;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right a {
  text-decoration: none;
  color: #000;
}

.footer-right a:hover {
  text-decoration: underline;
}

.bgabout {
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(24, 21, 21, 0.5),
      rgba(44, 44, 44, 0.5)
    ),
    url("/static/images/cover.ab9ba7109186.jpg");
  background-position: top;
  background-size: cover;
  backdrop-filter: grayscale(20%);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgabout h1 {
  color: #fff;
  font-size: 40px;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 5% 10%;
}

.about-right {
  width: 100%;
}

.about-right img {
  width: 100%;
}
.about-right {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.right-button button {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0.5rem;
  justify-content: space-between;
}

.right-button button i {
  font-size: 20px;
}

.right-button {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all ease-in-out 1000ms;
}

.right-button p {
  font-size: 15px;
  background: #e6e6e6;
  padding: 0.2rem;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .about {
    gap: 2rem;
    padding: 2rem 5%;
  }

  .about {
    flex-wrap: wrap;
  }
}

.mercy {
  margin: 0 auto;
  padding: 5% 0;
  width: 60%;
  border-top: solid 1.5px;
  gap: 2rem;
  text-align: center;
  height: fit-content;
}

.mercy h1 {
  font-size: 35px;
  padding: 1rem 0;
}

.list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15px;
}

.list li a {
  line-height: 20px;
}

.mercy ol li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.header {
  font-size: 25px;
  text-align: left;
  font-weight: 900;
  text-indent: 0dvb;
}

ol {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

@media (max-width: 1263px) {
  .mercy {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .mercy h1 {
    font-size: 20px;
  }

  .list li a {
    line-height: 20px;
  }

  .mercy ol li a {
    font-size: 16px;
  }

  .header {
    font-size: 25px;
  }
}

/* payment system  */



/* Styling for form container */
#paymentForm {
  width: 300px;
  margin: 0 auto;
  height: 100%;
}

/* Styling for form groups */
.form-group {
  margin-bottom: 20px;
}

/* Styling for labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styling for input fields */
input[type="email"],
input[type="tel"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for submit button */
button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.payment {
  height: 20vh;
}

::-webkit-scrollbar {
  display: none;
}

.testi_section {
  width: 100%;
  height: auto;
  padding: 100px 10%;
  background-color: var(--bg);
}

.testi_section h2 {
  color: #0090a2;
}

.testi_section .heading {
  font-size: 21px;
  text-align: center;
}

.testi_section .para {
  font-size: 14px;
  text-align: center;
  margin: 3px 0 85px 0;
}

.testi_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

/* comment */
.testi_card {
  padding: 29px;
  background: #aaaaaa6b;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgb(36, 36, 36);
  transition: all 1s ease;
}

.testi_card:hover {
  box-shadow: -9px 9px 21px rgba(51, 51, 51, 0.15);
  transform: translateY(-4px);
  box-shadow: 0 0 2px rgb(23, 24, 24), 0 0 1px rgb(23, 24, 24),
    0 0 5px rgb(23, 24, 24), 0 0 15px rgb(23, 24, 24), 0 0 5px rgb(23, 24, 24);
}

.testi_card .quote {
  width: 42px;
  height: auto;
  margin-bottom: 5px;
}

.testi_card > p {
  font-size: 14px;
  font-style: italic;
  line-height: 28px;
  margin-bottom: 35px;
}

.testi_card .test_person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.test_person img {
  border-radius: 50%;
}

.test_person IMG {
  margin-right: 10px;
}

.test_person .name_desig H4 {
  font-size: 19px;
  color: #fff;
}

.test_person .name_desig p {
  font-size: 14px;
}

@media only screen and (min-width: 860px) and (max-width: 1060px) {
  .testi_section {
    padding: 100px 5%;
  }
}

@media only screen and (max-width: 860px) {
  .testi_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 620px) {
  .testi_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* services css styling  */

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(14, 13, 13, 0.7),
      rgba(44, 44, 44, 0.5)
    ),
    url("/static/images/services.36375dc34bd8.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 45vh;
}

.services__inner {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  gap: 1.5rem;
  flex-direction: column;
}

.services__inner h3 {
  color: #fff;
  font-size: 30px;
}

.services__inner h2 {
  color: #8fcfec;
}

.services__inner p {
  color: #fff;
}

@media (max-width: 1150px) {
  .services__inner {
    gap: 0.5rem;
  }
}

@media (max-width: 880px) {
  .services {
    padding: 4rem 0;
    height: fit-content;
  }
}

@media (max-width: 550px) {
  .services__inner {
    width: 80%;
  }
}

/* Services css styling  */

.custom {
  margin: 0 auto;
  padding: 5% 0;
  max-width: 80%;
  border-bottom: solid 1px #a1a1a1;
}

.custom__grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.custom__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  padding: 1rem;
  border-radius: 10px;
  gap: 0.5rem;
  justify-content: center;
}

.custom__inner h2 {
  font-size: 20px;
  text-align: center;
}

.custom__inner p {
  text-align: center;
}

.custom__inner img {
  width: 100px;
}

@media (max-width: 300px) {
  .custom__inner h2 {
    font-size: 16px;
  }

  .custom__inner p {
    font-size: 14px;
  }

  .custom__inner img {
    width: 80px;
  }
}

.about-us {
  width: 60%;
  height: fit-content;
  margin: 0 auto;
}

.divider {
  gap: 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.framer_inner {
  width: 100%;
}

.framer_inner img {
  width: 100%;
}

.about-us__inner {
  display: flex;
  width: 50%;
  gap: 0.6rem;
  flex-direction: column;
  align-items: flex-start;
}

.about-us__inner h2 {
  font-size: 40px;
}

.about-us__inner span {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  gap: 0.5rem;
  font-size: 20px;
}

.about-us__inner span div {
  width: 160px;
  height: 1.5px;
  background: #6e6e6e;
}

.about-us__frame {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.about-us__inner h2,
.about-us__inner p {
  color: #6e6e6e;
}

.frame {
  position: relative;
  border: solid 2rem #0090a2;
  height: 25rem;
  border-radius: 10px;
  width: 80%;
}

.framer__inner {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
}

.end {
  transform: translate(-70px);
}
.ind {
  transform: translate(150px);
}

.framer__inner img {
  width: 90%;
  border: solid 2rem #e6e6e6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #808080;
  transition: all ease 0.5s;
}

.framer__inner img:hover {
  box-shadow: 0px 0px 15px #424242;
}

@media (max-width: 1570px) {
  .end {
    transform: translate(-70px);
  }
  .ind {
    transform: translate(100px);
  }
  .frame {
    height: 22rem;
    border-radius: 10px;
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .frame {
    height: 22rem;
    border-radius: 10px;
    width: 90%;
  }

  .ind {
    transform: translate(200px);
  }

  .about-us {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .ind {
    transform: translate(120px);
  }
}

@media (max-width: 900px) {
  .divider {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .framer__inner {
  width: 100%;
}
.about-us__frame {
  width: 100%;
}

.about-us__inner{
    width: 100% !important;
}

}

@media(max-width: 500px){
     .end {
    transform: translate(0px);
  }
  .ind {
    transform: translate(0px);
  }
}

/* contact page css styling section */

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image:  linear-gradient(
      to bottom,
      rgba(24, 21, 21, 0.5),
      rgba(44, 44, 44, 0.5)
    ), url("/static/images/coverbg.cb18c0e79b51.jpg");
    background-position: center;
    background-size: cover;
}


.contact__divider{
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    padding: 5% 0;
    width: 70%;
    align-items: flex-start;
    justify-content: space-between;
    height: fit-content;
}

.contact h1{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

.touch{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:  1rem;
}

.inner__desc{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #000;
    border-radius: 50%;
    transition: all ease 0.3;
}

.icn:hover{
    background: #424242;
}
.map{
    width: 100%;
}

.map iframe{
    width: 100%;
}

.icn i {
    color:  #fff;
    display: block;
    font-size: 20px;
}
 @media(max-width:1280px){
    .contact__divider{
        flex-wrap: wrap;
    }
 }

 @media(max-width:600px){
    .contact__divider{
        width: 90%;
    }
    .contact h1{
    font-size: 40px;
    font-weight: 600;
}
.inner__desc{
    gap: 0.5rem;
}

.icn{
    padding: 0.5rem;
}

.icn i {
    font-size: 16px;
}

.touch p {
    font-size: 14px;
}
.inner__desc{
    flex-wrap: wrap;
}

 }

 @media(max-width:320px){
    .inner__desc br{
    display: none;
}
.inner__desc p{
    font-size: 12px;
}
 }

 /* form section css styling */

 .form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
    padding: 3rem;
    background: #ffff;
    border-radius: 0 30px 0 30px;
 }

 .form h2{
    font-size: 30px;
 }

 .form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
 }

 .input__form input{
    padding: 1rem;
    border-radius: 0 20px 0 20px;
    outline: none;
 }

 .input__divider{
    display: flex;
    width: 100%;

    justify-content: space-between;
 }

 .input__divider .input__form input{
    width: 100%;
 }

 .form form button{
    font-size: 20px;
    border-radius: 0 20px 0 20px;
 }

 @media(max-width:1000px){
    .form {
        width: 80% !important;
    }
 }

 @media(max-width:570px){
    .form {
        width: 90% !important;
    }
 }

 @media(max-width:460px){
    .input__divider{
        flex-wrap: wrap;
    }
     .form {
        padding: 1.5rem;
    }
    .form h2{
    font-size: 23px;
 }
 .form h2{
    font-size: 13px;
 }
 }